# Ignore all files
*

# Don't ignore these files
!.dockerignore
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json
!prettier.config.js
!eslint.config.js
!webpack/webpack.common.js
!webpack/webpack.prod.js
!webpack/utils.js
!public/
!src/
