.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .goathouse-logo {
    position: relative;
    width: calc(100vw - 2 * var(--horizontal-gap-size));
    height: calc(100vw - 2 * var(--horizontal-gap-size));
    max-width: calc(100vh - var(--vertical-gap-size) * 2 - 400px);
    max-height: calc(100vh - var(--vertical-gap-size) * 2 - 400px);
}
