html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --horizontal-gap-size: 40px;
    --vertical-gap-size: 100px;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
