html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --horizontal-gap-size: 40px;
    --vertical-gap-size: 100px;
}

.pages {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
    overflow-y: auto;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.bordered {
    border-style: dotted;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    width: 100%;
    min-height: 1px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.col, .col-1, .col-2, .col-half {
    width: 100%;
    min-height: 1px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-1 {
    flex: 1.5;
    flex-basis: 0;
    max-width: 40%;
}

.col-2 {
    flex: 2;
    flex-basis: 0;
    max-width: 60%;
}

@media (max-width: 768px) {
    .col-1, .col-2 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.col-half {
    flex: 1;
    max-width: 50%;
}
