html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header, .footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

.header {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    gap: 10px;
}

.footer p {
    margin: 0;
}

.footer .contact-info {
    margin: 0;
    gap: 0;
}

.footer .credits {
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
